<div class="d-flex justify-content-center text-center">
  <div class="d-inline-block">
    <h4>{{ comic.hero }}</h4>
    <h5>{{ comic.name }}</h5>
    <img src="{{ comic.image }}" alt="Comic Image" class="w-100"/>
    <div class="row">
      <button class="btn btn-primary mt-2" (click)="selectFavoriteMethod()">
        Select Favorite
      </button>
      <button class="btn btn-warning mt-2" (click)="editComicMethod()">
        Edit Comic
      </button>
      <button class="btn btn-danger mt-2" (click)="deleteComicMethod()">
        Delete Comic
      </button>
    </div>
  </div>
</div>
