<div class="d-flex justify-content-center text-center">
  <div class="d-inline-block">
    <h4>{{ comic.hero }}</h4>
    <h5>{{ comic.name }}</h5>
    <img src="{{ comic.image }}" alt="Comic Image" class="w-100"/>
    <div class="row">
      <button class="btn btn-primary mt-2" (click)="selectFavoriteMethod()">
        Select Favorite
      </button>
      <button class="btn btn-warning mt-2" (click)="editComicMethod()">
        Edit Comic
      </button>
      <!-- <button class="btn btn-warning mt-2" data-bs-toggle="modal" data-bs-target="#myModal">
        Edit Comic
      </button> -->
      <!-- <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <div class="modal-body">
              <label>Hero: </label>
              <input class="form-control" type="text" name="boxHero" [value]="heroBox" #boxHero required/>
              <label>Image: </label>
              <input class="form-control" type="text" name="boxImage" [value]="imageBox" #boxImage required/>
              <label>Name: </label>
              <input class="form-control" type="text" name="boxName" [value]="nameBox" #boxName required/>
  
            </div>
      
            <div class="modal-footer">
              <button class="btn btn-success" (click)="editComicSubmit()" data-bs-dismiss="modal">
                Edit Comic
              </button>
            </div>
      
          </div>
        </div>
      </div> -->
      <button class="btn btn-danger mt-2" (click)="deleteComicMethod()">
        Delete Comic
      </button>
    </div>
  </div>
</div>
