<div>
  <h3 class="mt-4 mb-4">Series</h3>
  <div *ngIf="series" class="row d-flex justify-content-center">
    <div class="card w-50 p-0">
      <div class="card-image-top">
        <img src={{series.imagen}} alt={{series.nombre}} class="w-100" />
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ series.nombre }}
        </h5>
        <p class="card-text">IMDB: + {{ series.puntuacion }}</p>
        <a routerLink="/characters/{{series.idSerie}}">
          <button class="btn btn-success w-100">Characters</button>
        </a>
      </div>
    </div>
  </div>
</div>